@using ServiceStack.Text

@if (!TextUtils.IsComplexType(Value?.GetType()))
{
    BlazorUtils.FormatValue(Value, MaxFieldLength);
}
else
{
    if (Value is System.Collections.IEnumerable e)
    {
        var first = TextUtils.FirstOrDefault(e);
        if (first == null)
        {
            @("[]")
        }
        else
        {
            if (TextUtils.IsComplexType(first.GetType()))
            {
                <span title=@TypeSerializer.Dump(Value)>@Format(Value)</span>
            }
            else
            {
                var i = 0;
                foreach (var item in e)
                {
                    if (i++ > 0)
                    {
                        @(',')
                    }
                    @TextUtils.GetScalarText(item)
                }
            }
        }
    }
    else
    {
        <span title=@TypeSerializer.Dump(Value)> {
        @{
            var dict = Value.ToObjectDictionary();
            var keys = dict.Keys.ToList();
            var len = Math.Min(MaxNestedFields, keys.Count);
            for (var i = 0; i < len; i++)
            {
                var key = keys[i];
                var val = dict[key];
                var value = Format(val);
                var str = TextUtils.Truncate(value, MaxNestedFieldLength);
                if (i > 0)
                {
                    @(", ")
                }
                {
                    <b class="font-medium">@key</b>@($": {str}")
                }
            }
            if (keys.Count > len)
            {
                @("...")
            }
        }
        } </span>
    }
}


@code {
    [Parameter] public object? Value { get; set; }
    [Parameter] public int MaxFieldLength { get; set; } = BlazorConfig.Instance.MaxFieldLength;
    [Parameter] public int MaxNestedFields { get; set; } = BlazorConfig.Instance.MaxNestedFields;
    [Parameter] public int MaxNestedFieldLength { get; set; } = BlazorConfig.Instance.MaxNestedFieldLength;

    string Format(object? value) => BlazorUtils.FormatValue(value, MaxFieldLength);
}
