@inherits Microsoft.AspNetCore.Mvc.Razor.RazorPage<TModel>
<!doctype html>
<html lang="en">
@{
    var debug = HostContext.DebugMode;
    var min = debug ? "" : "[hash].min";
}
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] - CheckRazorPages</title>
    @Html.BundleCss(new BundleOptions {
        Sources = {
            "!/css/default.css",
            "/lib/css/",
            "/css/svg-auth.css",
        },
        SaveToDisk = !debug,
        OutputTo = $"/css/lib.bundle{min}.css"
    })

    @Html.BundleCss(new BundleOptions {
        Sources = {
            "/css/default.css",
        },
        Minify = !debug,
        Cache = !debug,
        SaveToDisk = !debug,
        OutputTo = $"/css/bundle{min}.css"
    })
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-page="/Index">CheckRazorPages</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    @Html.Navbar()
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2023 - CheckRazorPages - <a asp-area="" asp-page="/Privacy">Privacy</a>
    </div>
</footer>

@Html.BundleJs(new BundleOptions {
  Sources = {
      "/lib/js/",
  },
  SaveToDisk = !debug, 
  Bundle = false,
  OutputTo = $"/js/lib.bundle{min}.js"
})

@await RenderSectionAsync("Scripts", required: false)

</body>
</html>