@{
    Layout = "SimpleLayout";
    ViewBag.Title = "Page with typed 'Rockstars' model and no C# controller";
}

Test
@ServiceStack.MiniProfiler.Profiler.RenderIncludes(showControls: true).AsRaw()

@(new MarkdownSharp.Markdown().Transform("## Heading").AsRaw())

@Html.RenderMarkdownToHtml("## Heading 2")

@Html.DisplayPrice(0)

@DisplayPrice(1.1m)

@helper DisplayPrice(Decimal price) { 
    if (price == 0) {
        <span>FREE!</span>
    }
    else {
        @String.Format("{0:C2}", price)
    }
}

<script>
    //setInterval(function () {
    //    $.getJSON("/hello/world", function(r) {
    //        console.log(r);
    //    });
    //}, 1000);
</script>
