@inherits ServiceStack.Razor.ViewPage<ViewThatUsesLayoutAndModel> 

﻿@{
    Layout = "SimplyLayout";
}

<div>CATCH ALL: @Model.Id</div>
<ul>
    @foreach (var name in Get<DataSource>().Items)
    {
        <li>@name</li>
    }
    
    @Html.TextBoxFor(x => x.Id)
</ul>

<h3>Db.Select&lt;Person&gt;()</h3>
<ul>
    @foreach(var person in Db.Select<Rockstar>(q => q.Age == 27)) {
        <li>@person.FirstName - @person.LastName (@person.Age)</li>
    }
</ul>

@Html.Partial("_CatchAllPartial")
