
@using System
@using ServiceStack
@using ServiceStack.Razor.Tests
@using ServiceStack.Common
@using ServiceStack.ServiceHost
@using ServiceStack.WebHost.Endpoints

<div>
    <h4>/default.cshtml</h4>
    The time is: @DateTime.Now
    <h4>@this.GetType().BaseType</h4>
    <h4>@this.Request.RemoteIp</h4>
    <h4>@this.Request.IsLocal</h4>
    <h4>@this.Request.IsSecureConnection</h4>
    <h4>Is debug nnrr? @HostContext.DebugMode </h4>
    <h3>hello :)</h3>
</div>
