@inherits ServiceStack.Razor.ViewPage<ViewThatUsesLayoutAndModelResponse>

﻿@{
    Layout = "SimplyLayout";
}

<div>ViewThatUsesLayoutAndModel: @Model.Name</div>
@Html.LabelFor(x => x.Name)
@Html.TextBoxFor(x => x.Name)
<h3>Model</h3>
<ul>
    @foreach(var name in Model.Results) {
        <li>@name</li>
    }
</ul>

<h3>Db.Select&lt;Person&gt;()</h3>
<ul>
    @foreach(var person in Db.Select<Rockstar>()) {
        <li>@person.FirstName - @person.LastName (@person.Age)</li>
    }
</ul>
