<p>@Model.FirstName Dynamic Markdown Template</p>

<p>Hello @Model.FirstName,</p>

<ul>
    <li>@Model.LastName</li>
    <li>@Model.FirstName</li>
</ul>

<h1>heading 1</h1>

<ul>
@foreach (var link in Model.Links) {
  <li>@link.Name - @link.Href</li>
}
</ul>

<h2>heading 2</h2>

<p>
    This is a <a href="http://www.servicestack.net">servicestack.net link</a>
</p>

<h3>heading 3</h3>

